---
import '../styles/global.css';
import Sidebar from '../components/Sidebar.astro';
import Welcome from '../components/Welcome.astro';
import MainView from '../components/MainView.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Juan Romo Portfolio | Software Engineer & Game Developer</title>
  </head>
  <body class="flex flex-row">
    <Sidebar class="" />
    <MainView><slot /> </MainView>
  </body>
</html>
